@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-family:"Open Sans", sans-serif ;
    line-height: 26px;
}

h1, h2 ,h3, h4, h5 {
    font-family: "Montserrat", sans-serif;
}

ul ,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.pm{
    margin-left: 15px;
}

.bold{
    font-weight: 700;
}

.inline-block{
    display: inline-block;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
   max-width: 1232px;
   overflow: hidden;
   margin-inline: auto;
}

/* top section */

.top{
   
   background:linear-gradient(rgb(18,55,99,0.5),rgb(18,55,99,0.5)) ,url(imges/c3f43576f45b1d5af6572f75b08f4032.png);
   height: 764px;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.main-nav{
    margin:20px 10px;
    position: relative;
}

.list{
    justify-content: center;
}

.list li a {
    padding: 35px 20px;
    font-family: "Open Sans", sans-serif;
    color: white;
    display: inline-block; 
    transition: 0.2s ease-out; 
}

.list li a:hover{
    color: #029AAF;
    cursor: pointer;
}

.primary-button{
    padding: 12px 32px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #029AAF;
    color: white;
    font-family:"Open Sans", sans-serif ;
    transition: 0.2s ease-out;
}

.second-btn{
    padding: 12px 32px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    font-family:"Open Sans", sans-serif ;
    transition: 0.2s ease-out;
}

.second-btn:hover{
   border: 1px solid  #029AAF;
   background-color: #029AAF;
   cursor: pointer;
}

.btn-1:hover{
    border: 1px solid white;
    background:transparent;
    cursor: pointer;
}

.btn a{
    position: absolute;
    right: 0;
    top: 20px;
}

.text{
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.text h1{
    font-weight:700 ;
    font-size: 64px;
    height: 176px;
    width: 816px;
    color: white;
}

.text p{
    width: 671px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(230, 230, 230, 1);
}

.top-text{
    position: absolute;
    top: 260px;
    left: 250px;
}

.button{
    margin-top: 40px ;
    display: flex;
    flex-direction: row;
    gap: 20px;

}

/* second section */

.pic img{
    height:608px ;
    width: 600px;
}

.second-items{
    margin-top: 150px;
    gap: 50px;
    justify-content: flex-start;
    
}

.writing{
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.writing h1{
    font-size: 48px;
    color: rgba(18, 55, 99, 1);
    line-height: 64px;
}



/* third section  */

.thrid-text{
    font-size: 48px;
    color: rgba(18, 55, 99, 1);
    text-align: center;
    margin-top: 170px;
}

.main-card{

    margin-top: 60px;
    gap:55px ;
}

.card{
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.card p{
   color: rgba(71, 71, 71, 1);
}

.card h5{
    color:rgba(18, 55, 99, 1);
    font-size: 24px;
}

/* fourth section */

.fourth-container{
    background-color: rgba(2, 154, 175, 1);
    margin-top: 200px;
    height: 550.69px;
    border-radius: 29.21px;
}

.fourth-text{
    flex-direction: column;
    gap: 20px;
    margin-top: 115px;
}

.fourth-text h1{
    font-size: 35.06px;
    line-height: 39.44px;
    font-weight: 600;
    color: white;
}

.fourth-text h1 span{
    color: rgba(231, 0, 154, 1);
}

.fourth-text p{
    font-size: 13.54px;
    line-height: 17.53px;
    color:rgba(225, 225, 225, 1);
    text-align: center;
}

.slider{
   margin-top: 45px;
}

.box{
    height: 215.46px;
    width: 438.21px !important;
    border-radius: 14.61px;
    background-color: rgba(245, 247, 250, 1);
    padding:28.5px;
    display: grid !important;
    align-content: center;
    gap: 20px !important;
    margin-right:15px ;
}

.icon{
    gap:4px;
}

.boxp p{
    font-size: 11.69px;
    line-height: 20.45px;
    font-weight: 400;
    color: rgba(120, 128,148,1);
    width: 381.72px;
}

.boxf{
    justify-content: space-between;
}

.ftext h3{
   font-size: 14.61px;
   line-height: 20.7px;
   font-weight: 600px;
   color: rgba(0, 13, 68, 1);
}

.ftext{
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}   

.ftext p{
   font-size: 10.23px;
   font-weight: 400;
   line-height: 18.99px;
   color: rgba(120, 128, 148, 1);

}

/* fifth section */

.fifth-container{
    margin-top: 200px;
    gap: 120px;
    max-height: 700px;
}

.fifth-text{
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.fifth-text h3{
    font-size: 48px;
    color: rgba(18, 55, 99, 1);
}

/* sixth section */

.sixth-container{
    background-color: rgba(2, 154, 175, 1);
    border-radius: 12px;
    margin-top: 200px;
    height: 412px;
    align-items: center;
    justify-content: center;
}
.text-6{
    flex-direction: column;
    gap: 40px;
    color: white;
    
}

.sixth-btn{
    color: white;
    font-weight: 700;
    border-radius: 8px;
    padding: 12px 32px;
}

.text-6 h1{
    font-size: 48px;
    line-height: 64px;
    text-align: center;
}

.text-6 p{
    text-align: center;
}

/* seventh section */

.seventh-container{
   margin-top: 200px;
   justify-content: space-between;
   align-items: flex-start;
   height: 300px;
}

.frist{
    flex-direction: column;
    gap: 25px;
    margin-top:60px;
}

.frist p{
    color: rgba(18, 55, 99, 1);
}

.frist-div p {
    font-family: "DM Sans", sans-serif !important;
    color: rgba(18, 55, 99, 1);
}

.second,.thrid,.fourth {
    flex-direction: column;
    align-items: flex-start ;
    gap: 30px;
    color: rgba(18, 55, 99, 1) ;
}

.media a{
    background-color: rgb(2,154,175);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.media {
    gap: 10px;
}

/* footer section  */

.footer-container{
    background-color: rgba(2, 154, 175, 1);
    display: flex;
    height: 91px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.footer-container p{
    color: white;
}